## Conditioning and Branching

In [2]:
age = 57
if(age>34):
    print("you can enter")
    print("pass on to the next phase")

you can enter
pass on to the next phase

In [3]:
age =67
if(age<14):
    print("this is not my real age")
    print("my real age is 64")

In [4]:
age = 18
if age <16:
    print("you can enter")
else:
    print("you can move")

you can move

In [5]:
age = 56
if age>=45:
    print("you are welcome")
else:
    print("you are not eligible")

you are welcome

In [6]:
age = 56
if age<45:
    print("you are not allow to enter")
elif (age==35):
    print("you are not eligble")
else:
    print("move to the next phase")

move to the next phase

In [7]:
age = 56
if age<56:
    print("it does not matter")
elif(age==56): 
    print("you are eligble to enter")
else:
    print("you are to young to enter")

you are eligble to enter

In [8]:
age = 57
if age < 55:
    print("this age is not correct")
elif(age==57):
    print("this age is absolute correct")
else:
    print("this age is nearly correct")

this age is absolute correct

In [9]:
age = 57
if age < 67:
    print("you are not too old")
else:
    print("you are to old for that your age")

you are not too old

In [10]:
classroom = 67
if classroom > 67:
    print("this classroom number is not close to the value")
elif(classroom==67):
    print("this classroom number is close to the value")
else:
    print("this classroom number was not part of the value")

this classroom number is close to the value

In [11]:
age = 67
if age > 66:
    print("you are over-qualified for the programme")
else:
    print("you are under-qualified for the programme")

you are over-qualified for the programme

## Logic operators

In [13]:
album_year = 1990
if(album_year<1980)or(album_year>1989):
    print("The Album was made in the 70's or 90's")
else:
    print("The Album was made in the 1980's")

The Album was made in the 70's or 90's

In [14]:
user_choice = "withdraw cash"
if user_choice == "withdraw cash":
    amount = input("Enter the amount to withdraw:")
    if amount % 10 ==0:
        dispense_cash(amount)
    else:
        print("please enter a multiple of 10.")
else:
    print("Thank you for using the ATM")

Enter the amount to withdraw: 56

TypeError: not all arguments converted during string formatting

In [145]:
album_year = 1790
if(album_year<1670)or(album_year>1785):
    print("The Album was made in the 90's")
else:
    print("The Album was made in the 1457")

The Album was made in the 90's

In [147]:
Album_year = 4657
if Album_year < 567 or Album_year> 456:
    print("this album is has been existing since 90's")
else:
    print("this album just started existing since 70's")

this album is has been existing since 90's

In [149]:
Medical_school_Nigeria = 567
if Medical_school_Nigeria > 400 and Medical_school_Nigeria < 500:
    print("Medical school is less than that in Nigeria")
else:
    print("Medical school ratio is far less than that")

Medical school ratio is far less than that

In [151]:
Album_year = 1789
if(Album_year < 1345) and (Album_year > 1567):
    print("The Album was made in the 70's")
else:
    print("The Album was made in 1600")

The Album was made in 1600

In [153]:
a = 5
a == 6

False

In [155]:
i =7
i< 4

False

In [157]:
is_do_not_disturb = True
if not is_do_not_disturb:
    semd_notification("New message received")

In [159]:
is_do_not_disturb = True
if not is_do_not_disturb:
    send_notification("New message received")

In [161]:
deforestation = 0.12
if deforestation >0.3:
    print("implement emergency measures")
elif deforestation > 0.2:
    print("increase surveillance and conservation efforts")
elif deforestation > 0.1:
    print("monitor and plan reforestation")
else:
    print("Deforestation rate is within safe limits")

monitor and plan reforestation

In [163]:
deforestation_rate = 0.1
if deforestation > 0.3:
    print("implemnet emergency measures")
elif deforestation ==0.1:
   print("deforeatation has reached the maximum safe limits")
elif deforestation >=0.1:
   print("monitor and plan reforestation")
else:
   print("deforestation rate is within safe limits")

monitor and plan reforestation

In [165]:
individuals_in_wilds = 5500
if individuals_in_wilds < 1000:
    print("critically Endangered")
elif 1000<= individuals_in_wilds <=5000:
 print("Endangered")
elif 5001<= individuals_in_wilds <=20000:
 print("Vulnerable")
else:
 print("safe")

Vulnerable

In [167]:
rainfall = 205mm
population_density = 448km
if  rainfall 500mm< and population_density>500km:
 print("Severe Scarity")
elif rainfall == population_density:
 print("Moderate Scarity")
elif

SyntaxError: invalid decimal literal (3851965035.py, line 1)

## LOOPS AND RANGE FUNCTIONS

In [170]:
squares = ["Rectangle", "yellow","red","green"]

In [172]:
squares
for square in squares:
    print(square)

Rectangle
yellow
red
green

In [174]:

for x in range(0,34):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [176]:
for x in range(4,6,35):
    print(x)

4

In [178]:
for x in range(0,3):
    print(x)

0
1
2

In [180]:
squares = ["yellow","Red", "green", "white","Brown","orange","Blue","Purple"]
for square in squares:
    print(square)

yellow
Red
green
white
Brown
orange
Blue
Purple

In [182]:
university_western_part_of_Nigeria = ["obafemi awolowo university","university of ibadan","university of lagos","university of ilorin","university of benin"]

In [184]:
for best_university_western_part_of_Nigeria in university_western_part_of_Nigeria:
    print(best_university_western_part_of_Nigeria)

obafemi awolowo university
university of ibadan
university of lagos
university of ilorin
university of benin

In [186]:
for x in ["A", "B", "c"]:
    print(x + "A")

AA
BA
cA

In [188]:
squares = ["Red", "Yellow","Green"]
for i,square in enumerate(squares):
    print(square)
    print(i)

Red
0
Yellow
1
Green
2

In [190]:
House_utensils = ["knife","chopping board","pot","frying pan","gas cooker"]
for i,cooking_utensils in enumerate(House_utensils):
    print(i)
    print(cooking_utensils)

0
knife
1
chopping board
2
pot
3
frying pan
4
gas cooker

In [192]:
Hostels_cdl = ["Adonai","Ayo-arike","Mercy_of_God","Bvers"]
for x,hostels_Cdl in enumerate(Hostels_cdl):
    print(x)
    print(hostels_Cdl)

0
Adonai
1
Ayo-arike
2
Mercy_of_God
3
Bvers

In [194]:
for x,i in enumerate(["A","B","C"]):
    print(x,i)

0 A
1 B
2 C

In [196]:
squares =["orange","orange","purple","blue","red"]
newsquares = []
i=0
while(squares[i]=="orange"):
    newsquares.append(squares[i])
    i=i+1
    print(i)

1
2

In [198]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [200]:
for number in range(1,22):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [202]:
fruits = ["Apple", "orange", "watermelon","banana","carrot"]
for x, fruit in enumerate(fruits):
    print(x,fruits)

0 ['Apple', 'orange', 'watermelon', 'banana', 'carrot']
1 ['Apple', 'orange', 'watermelon', 'banana', 'carrot']
2 ['Apple', 'orange', 'watermelon', 'banana', 'carrot']
3 ['Apple', 'orange', 'watermelon', 'banana', 'carrot']
4 ['Apple', 'orange', 'watermelon', 'banana', 'carrot']

In [204]:
count = 1
while count <=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

In [206]:
number = 14
while number <=17:
    print(number)
    number+=14

14

In [208]:
Dates = [1768,1967,1950]
for i in range(N):
    print(Dates[i])

NameError: name 'N' is not defined

In [210]:
x = 56
while x<67:
    print(x)
    x+=1

56
57
58
59
60
61
62
63
64
65
66

In [212]:
## FUNCTIONS

In [214]:
Album_rating = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
sorted_Album_rating = sorted(Album_rating)
print(sorted_Album_rating)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

## CLASS AND OBJECT ORIENTED  OBJECT PROGRAMMING LANGUAGE

In [217]:
class Tree:
    def _init_(self,species,age,colour):
     self.species = species
     self.age = age
     self.colour = colour

def describe(self):
    #methods used for defining the objects
    return f"{self-age} used for describing the age of the species,{self-species}used for describing the types of species,{self-colour} methods used for describing the types of colour"
    Pine = Tree("pine",23,56)
    print(pine.describe())
    print("this is the name of the species:{self.species}")
    print("this is the age of the species:{self.age}")

In [219]:
class country:
    def __init__(self,state,capital,city,town):
        self.state = state
        self.capital = capital
        self.city = city
        self.town = town

def state(Self):
    ## methods used for describing the object country

    return f"{self-state} the name of the state of the country,{self-capital} the name of the state capital{self-city},the cities found in the state,{self-town} some name of the town presence in the state"

lagos = country("pine","ikeja","lekki","ikorodu")
print(lagos.state())

print("this is the name of the state:{self-state}")
print("this is the name of the capital:{self-capital}")
print("this is the name of one of the cities in the state:{self-city}")
print("this is the name of one of the towns in the state:{self-town}")

TypeError: 'str' object is not callable

In [221]:
import matplotlib.pyplot as plt

class Datanalysis:
    def __init__(self,data):
        self.data = data

def sum_of_the_data(self):
  return sum(self.data)

def data_doubled(self):
    return[2*element for element in self.data]

def plot_data_histogram(self):
    plt.bar(range(len(self.data)),self.data,egdgecolour = "black")
    plt.title("Histogram of the value")
    plt.xlabel("index")
    plt.ylabel("value of the data")
    plt.show()

In [222]:
import matplotlib.pyplot as plt
class Datascience:
    def __init__(self,statistics):
        self.statistics = statistics

def sum_of_datascience(self):
    return sum(self.statistics)

def data_of_engineering(self):
    return[2*element for element in self.statistics]

def plot_data_histogram(self):
    plt.bar(range(len(self.statistics)),self.statistics, edgecolour = "yellow")
    plt.title("the name of the graph is known as machine learning")
    plt.xlabel("the name of the graph is vertical")
    plt.ylabel("the name of the graph is horizontal")
    plt.show()

In [223]:
class Ecosystem:
    def __init__(self,name,description, biodiversity_index):
        self.name = name
        self.description = description
        self.biodiversity_index = biodiversity_index

    def display_distail(Self):
        print("Ecosystem:{self.name}")
        print("description:{self.description}")
        print("biodiversity_index:{self.biodiversity_index}")

    def description(self,new_description):
        self.description = new_description

In [224]:
class Animal:
    def __init__(self,kingdom,phylum,Class):
        self.kingdom = kingdom
        self.phylum = phylum
        self.Class = Class

def classification(self):
    print("kingdom:{self.kingdom}")
    print("phylum:{self.phylum}")
    print("Class:{self.Class}")

In [225]:
class Circle:
    def __init__(self,radius,colour):
        self.radius = radius
        self.colour = colour

circle = Circle(12,"Red")
print(circle.radius)
print(circle.colour)

12
Red

In [226]:
class Rectangle:
    def __init__(self, colour, width,length):
        self.colour = colour
        self.width = width
        self.length = length

rectangle = Rectangle("Red",14,67)
print(rectangle.colour)
print(rectangle.width)
print(rectangle.length)

Red
14
67

In [227]:
class university:
    def __init__(self,vicechancellor,faculty,college):
     self.vicechancellor = vicechancellor
     self.faculty = faculty
     self.college = college

College = university("bamire", "Agricultural science", "college of health science")
print(College.vicechancellor)
print(College.faculty)
print(College.college)

bamire
Agricultural science
college of health science

In [228]:
class Dentistry:
    def __init__(self, department,president,lectures):
        self.department = department
        self.president = president
        self.lectures = lectures

dentistry = Dentistry("Biomedical data science", "PHD","Oral radiology")
print(dentistry.department)
print(dentistry.president)
print(dentistry.lectures)

Biomedical data science
PHD
Oral radiology

In [230]:
class family:
    def __init__(self,mother,father):
        self.mother = mother
        self.father = father

FAMILY = family("florence", "John")
print(FAMILY.mother)
print(FAMILY.father)

florence
John

## python modules

In [240]:
content = """
s = "Hello"

def say_hi(name):
  print(s + name)

class Greet:
pass
"""

with open('.my_module.py', 'w') as fp:
    fp.write(content)

In [242]:
content = """
s = "Hello"

def say_hi(name):
    print(s + name)

   class Greet:
   pass
   """

with open('.my_module.py', 'w') as fp:
    fp.write(content)

In [244]:
help('modules')

Please wait a moment while I gather a list of all available modules...

C:\Users\hp\anaconda3\Lib\site-packages\paramiko\pkey.py:82: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from this module in 48.0.0.
  "cipher": algorithms.TripleDES,
C:\Users\hp\anaconda3\Lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.Blowfish and will be removed from this module in 45.0.0.
  "class": algorithms.Blowfish,
C:\Users\hp\anaconda3\Lib\site-packages\paramiko\transport.py:243: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from this module in 48.0.0.
  "class": algorithms.TripleDES,
C:\Users\hp\anaconda3\Lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn(
C:\Users\hp\anaconda3\Lib\pkgutil.py:78: UserWarning: The numpy.array_api submodule is still experimental. See NEP 47.
  __import__(info.name)
C:\Users\hp\anaconda3\Lib\site-packages\pydantic\experimental\__init__.py:7: PydanticExperimentalWarning:

This module is experimental, its contents are subject to change and deprecation.

No QCoreApplication instance found. Application patches not applied. You have to call load_stylesheet function after instantiation of QApplication to take effect.

3204bda914b7f2c6f497__mypyc cloudpickle         markupsafe          slugify
Aanuoluwapo         cmath               marshal             smart_open
IPython             cmd                 math                smmap
OpenSSL             code                matplotlib          smtplib
PIL                 codecs              matplotlib_inline   sndhdr
PyQt5               codeop              mccabe              sniffio
__future__          collections         mdit_py_plugins     snowballstemmer
__hello__           colorama            mdurl               socket
__phello__          colorcet            menuinst            socketserver
_abc                colorsys            mimetypes           socks
_aix_support        comm                mistune             sockshandler
_argon2_cffi_bindings commctrl            mkl                 sortedcontainers
_ast                compileall          mkl_fft             soupsieve
_asyncio            concurrent          mkl_random          sphinx
_bisect             conda               mmap                spyder
_black_version      conda_build         mmapfile            spyder_kernels
_blake2             conda_content_trust mmsystem            sqlalchemy
_brotli             conda_env           modulefinder        sqlite3
_bz2                conda_index         more_itertools      sre_compile
_cffi_backend       conda_libmamba_solver mpmath              sre_constants
_codecs             conda_pack          msgpack             sre_parse
_codecs_cn          conda_package_handling msilib              ssl
_codecs_hk          conda_package_streaming msvcrt              sspi
_codecs_iso2022     conda_token         multidict           sspicon
_codecs_jp          configparser        multipledispatch    stack_data
_codecs_kr          constantly          multiprocessing     stat
_codecs_tw          contextlib          my_module           statistics
_collections        contextvars         mypy                statsmodels
_collections_abc    contourpy           mypy_extensions     streamlit
_compat_pickle      cookiecutter        mypyc               string
_compression        copy                nacl                stringprep
_contextvars        copyreg             navigator_updater   struct
_csv                cpuinfo             nbclient            subprocess
_ctypes             crypt               nbconvert           sunau
_ctypes_test        cryptography        nbformat            sympy
_datetime           cssselect           nest_asyncio        symtable
_decimal            csv                 netbios             sys
_distutils_hack     ctypes              netrc               sysconfig
_elementtree        curl                networkx            tables
_functools          curses              nltk                tabnanny
_hashlib            cwp                 nntplib             tabulate
_heapq              cycler              notebook            tarfile
_imp                cytoolz             notebook_shim       tblib
_io                 dask                nt                  telnetlib
_json               dask_expr           ntpath              tempfile
_locale             dataclasses         ntsecuritycon       tenacity
_lsprof             datashader          nturl2path          terminado
_lzma               datetime            numba               test
_markupbase         dateutil            numbergen           test_pycosat
_md5                dbi                 numbers             text_unidecode
_msi                dbm                 numexpr             textdistance
_multibytecodec     dde                 numpy               textwrap
_multiprocessing    debugpy             numpydoc            this
_nsis               decimal             odbc                threading
_opcode             decorator           opcode              threadpoolctl
_operator           defusedxml          openpyxl            three_merge
_osx_support        diff_match_patch    operator            tifffile
_overlapped         difflib             optparse            time
_pickle             dill                os                  timeit
_plotly_future_     dis                 overrides           timer
_plotly_utils       distributed         packaging           tinycss2
_py_abc             distro              pandas              tkinter
_pydatetime         docstring_to_markdown pandocfilters       tldextract
_pydecimal          doctest             panel               tlz
_pyio               docutils            param               token
_pylong             dotenv              paramiko            tokenize
_pytest             email               parsel              toml
_queue              encodings           parso               tomli
_random             ensurepip           partd               tomlkit
_ruamel_yaml        enum                pathlib             tomllib
_sha1               erfa                pathspec            toolz
_sha2               errno               patsy               tornado
_sha3               et_xmlfile          pdb                 tqdm
_signal             executing           perfmon             trace
_sitebuiltins       fastjsonschema      pexpect             traceback
_socket             faulthandler        pickle              tracemalloc
_sqlite3            filecmp             pickleshare         traitlets
_sre                fileinput           pickletools         truststore
_ssl                filelock            pip                 tty
_stat               flake8              pipes               turtle
_statistics         flask               pkce                turtledemo
_string             fnmatch             pkg_resources       twisted
_strptime           fontTools           pkginfo             typeguard
_struct             fractions           pkgutil             types
_symtable           frozendict          platform            typing
_system_path        frozenlist          platformdirs        typing_extensions
_testbuffer         fsspec              plistlib            tzdata
_testcapi           ftplib              plotly              uc_micro
_testclinic         functools           pluggy              ujson
_testconsole        gc                  ply                 unicodedata
_testimportmultiple genericpath         poplib              unicodedata2
_testinternalcapi   gensim              posixpath           unidecode
_testmultiphase     getopt              pprint              unittest
_testsinglephase    getpass             profile             urllib
_thread             gettext             prometheus_client   urllib3
_threading_local    git                 prompt_toolkit      uu
_tkinter            gitdb               protego             uuid
_tokenize           glob                pstats              venv
_tracemalloc        graphlib            psutil              w3lib
_typing             greenlet            pty                 warnings
_uuid               gzip                ptyprocess          watchdog
_warnings           h11                 pure_eval           wave
_weakref            h5py                py                  wcwidth
_weakrefset         hashlib             py_compile          weakref
_win32sysloader     heapdict            pyarrow             webbrowser
_winapi             heapq               pyasn1              webencodings
_winxptheme         hmac                pyasn1_modules      websocket
_wmi                holoviews           pyclbr              werkzeug
_xxinterpchannels   html                pycodestyle         whatthepatch
_xxsubinterpreters  http                pycosat             wheel
_yaml               httpcore            pycparser           widgetsnbextension
_zoneinfo           httpx               pyct                win2kras
abc                 hvplot              pycurl              win32api
adodbapi            hyperlink           pydantic            win32clipboard
aext_assistant      idlelib             pydantic_core       win32com
aext_assistant_server idna                pydeck              win32con
aext_core           imagecodecs         pydispatch          win32console
aext_core_server    imageio             pydoc               win32cred
aext_panels         imagesize           pydoc_data          win32crypt
aext_panels_server  imaplib             pydocstyle          win32cryptcon
aext_share_notebook imblearn            pyexpat             win32ctypes
aext_share_notebook_server imghdr              pyflakes            win32event
aext_shared         importlib           pygments            win32evtlog
afxres              importlib_metadata  pylab               win32evtlogutil
aifc                importlib_resources pylint              win32file
aiobotocore         incremental         pylint_venv         win32gui
aiohappyeyeballs    inflect             pyls_spyder         win32gui_struct
aiohttp             inflection          pylsp               win32help
aioitertools        iniconfig           pylsp_black         win32inet
aiosignal           inspect             pylsp_jsonrpc       win32inetcon
alabaster           intake              pyodbc              win32job
altair              intervaltree        pyparsing           win32lz
anaconda_anon_usage io                  pytest              win32net
anaconda_catalogs   ipaddress           pythoncom           win32netcon
anaconda_cloud_auth ipykernel           pythonjsonlogger    win32pdh
anaconda_navigator  ipykernel_launcher  pytoolconfig        win32pdhquery
anaconda_project    ipython_genutils    pytz                win32pdhutil
annotated_types     ipywidgets          pyviz_comms         win32pipe
antigravity         isapi               pywin               win32print
anyio               isort               pywin32_bootstrap   win32process
appdirs             isympy              pywin32_testutil    win32profile
archspec            itemadapter         pywintypes          win32ras
argon2              itemloaders         pywt                win32rcparser
argparse            itertools           qdarkstyle          win32security
array               itsdangerous        qstylizer           win32service
arrow               jedi                qtawesome           win32serviceutil
ast                 jellyfish           qtconsole           win32timezone
astroid             jinja2              qtpy                win32trace
astropy             jmespath            queue               win32traceutil
astropy_iers_data   joblib              queuelib            win32transaction
asttokens           json                quopri              win32ts
async_lru           json5               random              win32ui
asyncio             jsonpatch           rasutil             win32uiole
atexit              jsonpointer         re                  win32verstamp
atomicwrites        jsonschema          referencing         win32wnet
attr                jsonschema_specifications regcheck            win_inet_pton
attrs               jupyter             regex               winerror
audioop             jupyter_client      regutil             winioctlcon
autocommand         jupyter_console     repo_cli            winnt
automat             jupyter_core        reprlib             winperf
autopep8            jupyter_events      requests            winpty
babel               jupyter_lsp         requests_file       winreg
backports           jupyter_server      requests_toolbelt   winsound
base64              jupyter_server_terminals rfc3339_validator   winxpgui
bcrypt              jupyterlab          rfc3986_validator   winxptheme
bdb                 jupyterlab_plotly   rich                wrapt
binaryornot         jupyterlab_pygments rlcompleter         wsgiref
binascii            jupyterlab_server   rope                xarray
binstar_client      jupyterlab_widgets  rpds                xdrlib
bisect              jwt                 rtree               xlwings
black               keyring             ruamel_yaml         xlwingsjs
blackd              keyword             runpy               xml
bleach              kiwisolver          s3fs                xmlrpc
blib2to3            lazy_loader         sched               xxlimited
blinker             lazy_object_proxy   scipy               xxlimited_35
bokeh               lckr_jupyterlab_variableinspector scrapy              xxsubtype
boltons             lib2to3             seaborn             xyzservices
botocore            libarchive          secrets             yaml
bottleneck          libmambapy          select              yapf
brotli              lief                selectors           yapf_third_party
bs4                 linecache           semver              yapftests
builtins            linkify_it          send2trash          yarl
bz2                 llvmlite            service_identity    zict
cProfile            lmdb                servicemanager      zipapp
cachetools          locale              setuptools          zipfile
calendar            locket              shelve              zipimport
certifi             logging             shlex               zipp
cffi                lxml                shutil              zlib
cgi                 lz4                 signal              zmq
cgitb               lzma                sipbuild            zoneinfo
chardet             mailbox             site                zope
charset_normalizer  mailcap             six                 zstandard
chunk               markdown            skimage
click               markdown_it         sklearn

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [245]:
dir()

['Album_rating',
 'Album_year',
 'Animal',
 'Circle',
 'College',
 'Datanalysis',
 'Datascience',
 'Dates',
 'Dentistry',
 'Ecosystem',
 'FAMILY',
 'Hostels_cdl',
 'House_utensils',
 'In',
 'Medical_school_Nigeria',
 'Out',
 'Rectangle',
 'Tree',
 '_',
 '_1',
 '_100',
 '_101',
 '_102',
 '_103',
 '_104',
 '_105',
 '_106',
 '_107',
 '_108',
 '_109',
 '_110',
 '_111',
 '_112',
 '_113',
 '_114',
 '_115',
 '_116',
 '_117',
 '_118',
 '_119',
 '_12',
 '_120',
 '_121',
 '_122',
 '_123',
 '_124',
 '_125',
 '_126',
 '_127',
 '_128',
 '_129',
 '_130',
 '_131',
 '_132',
 '_133',
 '_134',
 '_135',
 '_136',
 '_137',
 '_138',
 '_139',
 '_140',
 '_141',
 '_142',
 '_143',
 '_144',
 '_146',
 '_148',
 '_15',
 '_150',
 '_152',
 '_153',
 '_154',
 '_155',
 '_156',
 '_158',
 '_16',
 '_160',
 '_162',
 '_164',
 '_166',
 '_168',
 '_169',
 '_17',
 '_171',
 '_173',
 '_175',
 '_177',
 '_179',
 '_18',
 '_181',
 '_183',
 '_185',
 '_187',
 '_189',
 '_19',
 '_191',
 '_193',
 '_195',
 '_197',
 '_199',
 '_20',
 '_201',
 '_203',
 '_205',
 '_207',
 '_209',
 '_21',
 '_211',
 '_213',
 '_215',
 '_216',
 '_218',
 '_22',
 '_220',
 '_229',
 '_23',
 '_231',
 '_232',
 '_233',
 '_234',
 '_235',
 '_236',
 '_237',
 '_238',
 '_239',
 '_24',
 '_241',
 '_243',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_80',
 '_81',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_88',
 '_89',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i154',
 '_i155',
 '_i156',
 '_i157',
 '_i158',
 '_i159',
 '_i16',
 '_i160',
 '_i161',
 '_i162',
 '_i163',
 '_i164',
 '_i165',
 '_i166',
 '_i167',
 '_i168',
 '_i169',
 '_i17',
 '_i170',
 '_i171',
 '_i172',
 '_i173',
 '_i174',
 '_i175',
 '_i176',
 '_i177',
 '_i178',
 '_i179',
 '_i18',
 '_i180',
 '_i181',
 '_i182',
 '_i183',
 '_i184',
 '_i185',
 '_i186',
 '_i187',
 '_i188',
 '_i189',
 '_i19',
 '_i190',
 '_i191',
 '_i192',
 '_i193',
 '_i194',
 '_i195',
 '_i196',
 '_i197',
 '_i198',
 '_i199',
 '_i2',
 '_i20',
 '_i200',
 '_i201',
 '_i202',
 '_i203',
 '_i204',
 '_i205',
 '_i206',
 '_i207',
 '_i208',
 '_i209',
 '_i21',
 '_i210',
 '_i211',
 '_i212',
 '_i213',
 '_i214',
 '_i215',
 '_i216',
 '_i217',
 '_i218',
 '_i219',
 '_i22',
 '_i220',
 '_i221',
 '_i222',
 '_i223',
 '_i224',
 '_i225',
 '_i226',
 '_i227',
 '_i228',
 '_i229',
 '_i23',
 '_i230',
 '_i231',
 '_i232',
 '_i233',
 '_i234',
 '_i235',
 '_i236',
 '_i237',
 '_i238',
 '_i239',
 '_i24',
 '_i240',
 '_i241',
 '_i242',
 '_i243',
 '_i244',
 '_i245',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'age',
 'album_year',
 'amount',
 'best_university_western_part_of_Nigeria',
 'circle',
 'classification',
 'classroom',
 'content',
 'cooking_utensils',
 'count',
 'country',
 'data_doubled',
 'data_of_engineering',
 'dataframe_columns',
 'dataframe_hash',
 'deforestation',
 'deforestation_rate',
 'dentistry',
 'describe',
 'dtypes_str',
 'exit',
 'family',
 'fp',
 'fruit',
 'fruits',
 'get_dataframes',
 'get_ipython',
 'getpass',
 'hashlib',
 'hostels_Cdl',
 'i',
 'import_pandas_safely',
 'individuals_in_wilds',
 'is_data_frame',
 'is_do_not_disturb',
 'json',
 'lagos',
 'newsquares',
 'number',
 'open',
 'plot_data_histogram',
 'plt',
 'quit',
 'rectangle',
 'sorted_Album_rating',
 'square',
 'squares',
 'state',
 'sum_of_datascience',
 'sum_of_the_data',
 'university',
 'university_western_part_of_Nigeria',
 'user_choice',
 'x']

In [246]:
import math

x = math.sqrt(81)

print("thename of the projects belongs to{}".format(x))

thename of the projects belongs to9.0

In [247]:
import math

y = math.sqrt(99)

print("the number of the player jersey is {}".format(y))

the number of the player jersey is 9.9498743710662

In [248]:
import math

x = math.sqrt(34)
print("the total sum of the number is {}".format(x))

the total sum of the number is 5.830951894845301

In [249]:
import math

y = math.sqrt(77)
print("the total number of the sum is {}".format(y))

the total number of the sum is 8.774964387392123

## NUMPY PACKAGE

In [251]:
import numpy as np

ratings = np.array([[3,4,5,7],[7,4,8,9]])
print(ratings)

[[3 4 5 7]
 [7 4 8 9]]

In [252]:
import numpy as np

x = np.array([[[3,4,5],[4,5,6],[6,2,2]]])
print(x)

[[[3 4 5]
  [4 5 6]
  [6 2 2]]]

In [253]:
import numpy as np
calculation = np.array([[[[2,4,5,6,7,8],[5,6,8,3,4,5],[6,7,8,9,2,5],[5,7,6,2,1,7]]]])
print(calculation)

[[[[2 4 5 6 7 8]
   [5 6 8 3 4 5]
   [6 7 8 9 2 5]
   [5 7 6 2 1 7]]]]

In [254]:
import numpy as np

x = np.ones((3,4))
print(x)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [255]:
x = np.ones(((3,4,5)))
print(x)

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

In [256]:
x = np.ones(((4,5,6)))
print(x)

[[[1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1.]]]

In [257]:
x = np.ones(((7,6,7)))
print(x)

[[[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1.]]]

In [258]:
x.shape

(7, 6, 7)

In [259]:
x = np.zeros((3,4))
print(x)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [260]:
x = np.zeros(((3,3,5)))
print(x)

[[[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]]

In [261]:
x = np.random.random(3)
print(x)

[0.12420342 0.7948514  0.21986616]

In [262]:
x.shape

(3,)

In [263]:
x = np.random.random((3,4))
print(x)

[[0.52251885 0.84718782 0.94805137 0.13131558]
 [0.67123908 0.83642043 0.18655911 0.62690816]
 [0.71175018 0.42171356 0.1023943  0.94686412]]

In [264]:
x = np.array([[3,4],[3,7]])
print(x)

[[3 4]
 [3 7]]

In [265]:
x.shape

(2, 2)

In [266]:
x = np.array([2,3])
print(x)

[2 3]

In [267]:
x[:]

array([2, 3])

In [268]:
x[x > 3]

array([], dtype=int32)

In [269]:
x[x < 1]

array([], dtype=int32)

In [270]:
ratings = np.array([[[3,7,9],[4,7,8],[2,5,8]]])
print(ratings)

[[[3 7 9]
  [4 7 8]
  [2 5 8]]]

In [271]:
ratings.shape

(1, 3, 3)

In [272]:
ratings[ratings > 12]

array([], dtype=int32)

In [273]:
ratings[0, :]

array([[3, 7, 9],
       [4, 7, 8],
       [2, 5, 8]])

In [274]:
ratings[:,0]

array([[3, 7, 9]])

In [275]:
r = np.append(ratings,[[[3,4,6]]],axis=1)
print(r)

[[[3 7 9]
  [4 7 8]
  [2 5 8]
  [3 4 6]]]

In [276]:
import numpy as np 
x =np.array([[2,4,5],[4,5,6]],ndmin=3)
print(x)

[[[2 4 5]
  [4 5 6]]]

In [277]:
import numpy as np
w = np.array([3,4,5,6],ndmin=7)
print(w)

[[[[[[[3 4 5 6]]]]]]]

In [278]:
w.shape

(1, 1, 1, 1, 1, 1, 4)

In [279]:
w = np.array([1,3,4],dtype=complex)
print(w)

[1.+0.j 3.+0.j 4.+0.j]

In [280]:
dt = np.dtype(np.int32)
print(dt)

int32

In [281]:
import numpy as np
x = np.array([[3,4],[4,8]],ndmin=4)
print(x)

[[[[3 4]
   [4 8]]]]

In [282]:
x.shape

(1, 1, 2, 2)

In [283]:
x.shape=(2,2)
print(x)

[[3 4]
 [4 8]]

In [284]:
x.reshape(2,2)
print(x)

[[3 4]
 [4 8]]

In [285]:
A = np.arange(24)
print(A)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [286]:
ratings = np.array([[[3,4,5],[3,5,6],[7,9,3]]],ndmin=5)
print(ratings)

[[[[[3 4 5]
    [3 5 6]
    [7 9 3]]]]]

In [287]:
ratings.shape

(1, 1, 1, 3, 3)

In [288]:
ratings.shape=(3,3)
print(ratings)

[[3 4 5]
 [3 5 6]
 [7 9 3]]

In [289]:
ratings.reshape(3,3)
print(ratings)

[[3 4 5]
 [3 5 6]
 [7 9 3]]

In [290]:
ratings = np.arange(45)
print(ratings)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]

In [291]:
x = np.array([1,2,4,5,6],dtype=np.float32)
print(x)

[1. 2. 4. 5. 6.]

In [292]:
x = np.array([5,6,3,2],dtype=np.int64)
print(x)

[5 6 3 2]

In [293]:
x = np.array([4,6,7,8], dtype = np.float16)
print(x)

[4. 6. 7. 8.]

In [294]:
c = np.array([5,6,7,6], dtype = np.float64)
print(c)

[5. 6. 7. 6.]

In [295]:
c = np.array([4,6,7,3], dtype = np.int64)
print(c)

[4 6 7 3]

In [296]:
x = np.array([2,3,4,5,6])
print(x.flags)

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False

In [297]:
x = np.empty([3,2], dtype =int)
print(x)

[[2 4]
 [5 4]
 [5 6]]

In [298]:
import numpy as np
x = np.empty([4,5],dtype=int)
print(x)

[[         0 1072693248          0          0         83]
 [       101        114        105        101        115]
 [        84        105        109        101         83]
 [       101        114        105        101        115]]

In [299]:
import numpy as np
x = np.empty([4,7], dtype=float)
print(x)

[[6.23042070e-307 4.67296746e-307 1.69121096e-306 6.23058707e-307
  8.45593934e-307 7.56593017e-307 1.11258854e-306]
 [1.11261502e-306 1.42410839e-306 7.56597770e-307 6.23059726e-307
  1.86921958e-306 1.37962117e-306 6.89804133e-307]
 [8.90104239e-307 1.78018403e-306 1.02360256e-306 8.90106955e-307
  1.42417629e-306 8.45593934e-307 6.89805151e-307]
 [1.86920057e-306 1.11261570e-306 8.34451504e-308 1.78022342e-306
  8.06635958e-308 8.34423917e-308 2.10081501e-312]]

In [300]:
x = np.array([3,4,5],dtype=complex)
print(x)

[3.+0.j 4.+0.j 5.+0.j]

In [301]:
import numpy as np
x = np.zeros((3,4))
print(x)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [302]:
x = np.zeros((4,5),dtype=int)
print(x)

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [303]:
x = np.zeros(5)
print(x)

[0. 0. 0. 0. 0.]

In [304]:
import numpy as np
x = np.ones(5)
print(x)

[1. 1. 1. 1. 1.]

In [305]:
x = np.ones((4,5), dtype=int)
print(x)

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [367]:
x = np.zeros((4,7),dtype=float)
print(x)

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

In [369]:
z = np.zeros((5,6),dtype=complex)
print(z)

[[0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]]

In [371]:
w = np.arange(99)
print(w)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

In [373]:
x = [2,4,5]
z = np.asarray(x)
print(z)

[2 4 5]

In [375]:
f = [33,77,56,78]
g = np.asarray(f)
print(g)

[33 77 56 78]

In [377]:
x = [4,5,7]
a = np.asarray(x,dtype=int)
print(a)

[4 5 7]

In [379]:
h = [4,8,9]
d = np.asarray(h,dtype=int)
print(d)

[4 8 9]

In [381]:
import numpy as np
list = range(5)
it = iter(list)

x = np.fromiter(it, dtype=float)
print(x)

[0. 1. 2. 3. 4.]

In [383]:
list = range(45)
on = iter(list)

y = np.fromiter(on,dtype=int)
print(y)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]

In [385]:
tuple = range(78)
ion = iter(tuple)

bb = np.fromiter(ion,dtype=float)
print(bb)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
 72. 73. 74. 75. 76. 77.]

In [387]:
list = range(99)
off = iter(list)
w = np.fromiter(off,dtype=int)
print(w)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

In [389]:
x = np.arange(6, dtype=int)
print(x)

[0 1 2 3 4 5]

In [391]:
q = np.arange(77,dtype=float)
print(q)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
 72. 73. 74. 75. 76.]

In [393]:
np.__version__

'1.26.4'

In [395]:
z = np.arange(9).reshape(3,3)
print(z)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [397]:
z = np.nonzero([1,2,0,0,4,0])
print(z)

(array([0, 1, 4], dtype=int64),)

In [399]:
z = np.eye(3)
print(z)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [401]:
x = np.random.random((3,3,3))
print(x)

[[[0.38950609 0.72348806 0.44717588]
  [0.33014415 0.65568627 0.47329569]
  [0.16585269 0.79741219 0.94757699]]

 [[0.1222033  0.05630254 0.30355602]
  [0.8780661  0.16092234 0.02266708]
  [0.68309823 0.62410467 0.54988337]]

 [[0.7348584  0.95439751 0.06372169]
  [0.04754721 0.94175661 0.708025  ]
  [0.95985313 0.14111796 0.06219438]]]

In [403]:
z = np.random.random((5,5))
zmax,zmin = z.max(),z.min()
z = (z-zmin)/(zmax -zmin)
print(z)

[[0.65746903 0.45613231 0.70733748 0.16400851 0.07971739]
 [0.         0.6038731  0.62538588 0.79896279 0.54082034]
 [0.76732147 0.38145122 0.62935113 0.61254052 0.14271895]
 [0.23101368 0.89117396 0.26346056 0.27678147 0.1592246 ]
 [0.29557265 0.61423994 0.14929188 0.72891638 1.        ]]

In [405]:
z = np.linspace(4,5,7)
print(z)

[4.         4.16666667 4.33333333 4.5        4.66666667 4.83333333
 5.        ]

In [407]:
z.transpose()

array([4.        , 4.16666667, 4.33333333, 4.5       , 4.66666667,
       4.83333333, 5.        ])

In [409]:
z.T

array([4.        , 4.16666667, 4.33333333, 4.5       , 4.66666667,
       4.83333333, 5.        ])

In [411]:
z = np.sqrt(67)
print(z)

8.18535277187245

In [413]:
z = np.std(87)
print(z)

0.0

In [415]:
e = np.log(4)
print(e)

1.3862943611198906

In [417]:
import numpy as np

In [419]:
list = range(99)
it = iter(list)

w = np.fromiter(it,dtype=int)
print(w)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

In [421]:
w = np.array([3,4,6,7])
print(w)

[3 4 6 7]

In [423]:
w[0]

3

In [425]:
type(w)

numpy.ndarray

In [426]:
w.size

4

In [429]:
a = np.array([0,3,4,6])
print(a)

[0 3 4 6]

In [431]:
type(a)

numpy.ndarray

In [433]:
a.reshape((2,2))

array([[0, 3],
       [4, 6]])

In [435]:
a.shape=((2,2))

In [437]:
print(a)

[[0 3]
 [4 6]]

In [439]:
a = np.array([0,1,7,3,7])
print(a)

[0 1 7 3 7]

In [441]:
type(a)

numpy.ndarray

In [443]:
a.size

5

In [445]:
a = np.array([[3,4,5],[4,7,6]],ndmin=3,dtype=float)
print(a)

[[[3. 4. 5.]
  [4. 7. 6.]]]

In [447]:
a[0:1]

array([[[3., 4., 5.],
        [4., 7., 6.]]])

In [449]:
a[1:2]

array([], shape=(0, 2, 3), dtype=float64)

In [451]:
c = np.array([20,1,2,3,4])
c[0] = 100
c[0] = 2
print(c)

[2 1 2 3 4]

In [453]:
v = np.array([3,4])
r = np.array([4,7])
w = np.append(v,r)
print(w)

[3 4 4 7]

In [455]:
w = np.array(v-r)
print(w)

[-1 -3]

In [457]:
w.shape

(2,)

In [459]:
w = np.multiply(v,r)
print(w)

[12 28]

In [461]:
f = 2*w
print(f)

[24 56]

In [463]:
for b in f:
    print(b)

24
56

In [465]:
u = np.array([2,3,5,7])
z = u + 1
print(z)

[3 4 6 8]

In [467]:
a = np.array([3,5,7,8])
b = a.max()
print(b)

8

In [469]:
d = b.sum()
print(d)

8

In [471]:
r = np.sin(56)
print(r)

-0.5215510020869119

In [472]:
r = np.sin(30)
print(r)

-0.9880316240928618

In [475]:
w = np.cos(30)
print(w)

0.15425144988758405

In [477]:
w = np.linspace(3,4,5)
print(w)

[3.   3.25 3.5  3.75 4.  ]

In [479]:
c = np.array([[3,4],[4,5],[5,3]])
g = np.array([[3,5,8],[4,7,8]])

i = np.dot(c,g)
print(i)

[[25 43 56]
 [32 55 72]
 [27 46 64]]

In [482]:
w = np.linspace(3,4,6)
print(w)

[3.  3.2 3.4 3.6 3.8 4. ]

In [484]:
f = np.linspace(3,7)
print(f)

[3.         3.08163265 3.16326531 3.24489796 3.32653061 3.40816327
 3.48979592 3.57142857 3.65306122 3.73469388 3.81632653 3.89795918
 3.97959184 4.06122449 4.14285714 4.2244898  4.30612245 4.3877551
 4.46938776 4.55102041 4.63265306 4.71428571 4.79591837 4.87755102
 4.95918367 5.04081633 5.12244898 5.20408163 5.28571429 5.36734694
 5.44897959 5.53061224 5.6122449  5.69387755 5.7755102  5.85714286
 5.93877551 6.02040816 6.10204082 6.18367347 6.26530612 6.34693878
 6.42857143 6.51020408 6.59183673 6.67346939 6.75510204 6.83673469
 6.91836735 7.        ]

## PANDAS

In [487]:
import pandas as pd

x = [45,78,89,57,33,44]
t = pd.Series(x)
print(t)

0    45
1    78
2    89
3    57
4    33
5    44
dtype: int64

In [489]:
Data = {"Name":["obafemi awolowo university", "university of ibadan","university of lagos","university of ilorin"],
        "Courses":["Dentistry", "Medicine and surgery", "Pharmacy", "medical rehabilitation"],
        "faculty":["Pharmacy", "college of health sciences", "faculty of science", "faculty of law"]}

df = pd.DataFrame(Data)
print(df)

                         Name                 Courses  \
0  obafemi awolowo university               Dentistry
1        university of ibadan    Medicine and surgery
2         university of lagos                Pharmacy
3        university of ilorin  medical rehabilitation

                      faculty
0                    Pharmacy
1  college of health sciences
2          faculty of science
3              faculty of law

In [491]:
Continents = {"country_name":["Nigeria", "Ghana", "cote d'voire","Niger", "cameroun","benin"],
              "capitals":["Abuja", "lagos", "cedi","Abigan", "Lagos", "yeounade"],
              "Hand writing":["consistency", "hardworking", "determination", "resilence","belief","habit"]}
df = pd.DataFrame(Continents)
print(df)

   country_name  capitals   Hand writing
0       Nigeria     Abuja    consistency
1         Ghana     lagos    hardworking
2  cote d'voire      cedi  determination
3         Niger    Abigan      resilence
4      cameroun     Lagos         belief
5         benin  yeounade          habit

In [492]:
print(df["country_name"])

0         Nigeria
1           Ghana
2    cote d'voire
3           Niger
4        cameroun
5           benin
Name: country_name, dtype: object

In [493]:
print(df["capitals"])

0       Abuja
1       lagos
2        cedi
3      Abigan
4       Lagos
5    yeounade
Name: capitals, dtype: object

In [494]:
print(df["Hand writing"])

0      consistency
1      hardworking
2    determination
3        resilence
4           belief
5            habit
Name: Hand writing, dtype: object

In [495]:
print(df.iloc[4])

country_name    cameroun
capitals           Lagos
Hand writing      belief
Name: 4, dtype: object

In [501]:
print(df.iloc[3])

country_name        Niger
capitals           Abigan
Hand writing    resilence
Name: 3, dtype: object

In [503]:
print(df.iloc[2])

country_name     cote d'voire
capitals                 cedi
Hand writing    determination
Name: 2, dtype: object

In [505]:
df["capitals"].unique()

array(['Abuja', 'lagos', 'cedi', 'Abigan', 'Lagos', 'yeounade'],
      dtype=object)

In [507]:
df["country_name"].unique()

array(['Nigeria', 'Ghana', "cote d'voire", 'Niger', 'cameroun', 'benin'],
      dtype=object)

In [509]:
df.shape

(6, 3)

In [511]:
df.head()

   country_name capitals   Hand writing
0       Nigeria    Abuja    consistency
1         Ghana    lagos    hardworking
2  cote d'voire     cedi  determination
3         Niger   Abigan      resilence
4      cameroun    Lagos         belief

In [513]:
df.tail()

   country_name  capitals   Hand writing
1         Ghana     lagos    hardworking
2  cote d'voire      cedi  determination
3         Niger    Abigan      resilence
4      cameroun     Lagos         belief
5         benin  yeounade          habit

In [515]:
df.describe()

       country_name capitals Hand writing
count             6        6            6
unique            6        6            6
top         Nigeria    Abuja  consistency
freq              1        1            1

In [521]:
package = {"Birthday":["jollof" ,"rice", "meat", "cake", "pictures", "shoes"],
           "faculty":["pharmacy", "Dentistry", "clinical science","computer science","basic medical science","law"],
           "Dentistry":["oral-radiology", "oral-medicine", "oral-surgery", "oral-oncology","orthodontics","oral-pathology"]}

df = pd.DataFrame(package)

In [523]:
df

   Birthday                faculty       Dentistry
0    jollof               pharmacy  oral-radiology
1      rice              Dentistry   oral-medicine
2      meat       clinical science    oral-surgery
3      cake       computer science   oral-oncology
4  pictures  basic medical science    orthodontics
5     shoes                    law  oral-pathology

In [525]:
df.head()

   Birthday                faculty       Dentistry
0    jollof               pharmacy  oral-radiology
1      rice              Dentistry   oral-medicine
2      meat       clinical science    oral-surgery
3      cake       computer science   oral-oncology
4  pictures  basic medical science    orthodontics

In [527]:
df.tail()

   Birthday                faculty       Dentistry
1      rice              Dentistry   oral-medicine
2      meat       clinical science    oral-surgery
3      cake       computer science   oral-oncology
4  pictures  basic medical science    orthodontics
5     shoes                    law  oral-pathology

In [529]:
df.describe

<bound method NDFrame.describe of    Birthday                faculty       Dentistry
0    jollof               pharmacy  oral-radiology
1      rice              Dentistry   oral-medicine
2      meat       clinical science    oral-surgery
3      cake       computer science   oral-oncology
4  pictures  basic medical science    orthodontics
5     shoes                    law  oral-pathology>

In [531]:
df.size

18

In [535]:
df["Birthday"].unique()

array(['jollof', 'rice', 'meat', 'cake', 'pictures', 'shoes'],
      dtype=object)

In [537]:
df["faculty"].unique()

array(['pharmacy', 'Dentistry', 'clinical science', 'computer science',
       'basic medical science', 'law'], dtype=object)

In [539]:
df["Dentistry"].unique()

array(['oral-radiology', 'oral-medicine', 'oral-surgery', 'oral-oncology',
       'orthodontics', 'oral-pathology'], dtype=object)

In [547]:
name = ["Anuoluwapo", "Abidoye", "Samuel", "Holuwagbotemi", "Hanuoluwapo", "isinkaye", "praise","oluwafinsayo"]

total_name = ["Dentistry", "Medicine", "clinical science", "medicine_surgery", "stanford", "biomedical data science", "Grad school", "internship"]


df = pd.DataFrame(index=name, columns = total_name)

In [549]:
df

,Dentistry,Medicine,clinical science,medicine_surgery,stanford,biomedical data science,Grad school,internship
Anuoluwapo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abidoye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Samuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holuwagbotemi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hanuoluwapo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
isinkaye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
praise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
oluwafinsayo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [559]:
conference = [[77, "Abidoye", 67] ,[56, "Aanuoluwapo", 78] ,[93, "Samuel", 44]]
index = ["Holuwagbotemi", "Hanuoluwapo", "Exousia"]
columns = ["Dentistry B.CH.D", "Biomedical data science PHD","standford MBA"]
df = pd.DataFrame(data=conference, index=index, columns=columns)

In [561]:
df

               Dentistry B.CH.D Biomedical data science PHD  standford MBA
Holuwagbotemi                77                     Abidoye             67
Hanuoluwapo                  56                 Aanuoluwapo             78
Exousia                      93                      Samuel             44

In [567]:
school = [[33, "university of obafemi awolowo university", 67],[45, "University of ibadan", 77],[90, "university of benin",56]]
courses = ["pharmacy","medicine and sugery", "petroleum engineering"]
castings = ["photography", "wedding",  "acting career"]

df = pd.DataFrame(data=school, index=courses, columns =castings)

In [569]:
df

,photography,wedding,acting career
pharmacy,33,university of obafemi awolowo university,67
medicine and sugery,45,University of ibadan,77
petroleum engineering,90,university of benin,56

In [573]:
dictionary = {"age":[37,34,29],"country":["portugal","Argentina","Brazil"], "trophy":[56, 52, 44]}
name = ["Christiano Ronaldo", "Lionel Messi", "Neymar"]

df = pd.DataFrame(dictionary, name)

In [575]:
df

                    age    country  trophy
Christiano Ronaldo   37   portugal      56
Lionel Messi         34  Argentina      52
Neymar               29     Brazil      44

In [581]:
import numpy as np

array_ng = np.array([[33, "Ronaldo", 56], [30, "lionel messi", 52], [26, "Neymar", 33]])
classification = ["christiano ronaldo","lionel messi", "neymar"]
over_all = ["age", "Nationality", "trophy"]

df = pd.DataFrame(data=array_ng, index = classification, columns = over_all)

In [591]:
df

                   age   Nationality trophy
christiano ronaldo  33       Ronaldo     56
lionel messi        30  lionel messi     52
neymar              26        Neymar     33

In [597]:
df.loc["neymar"]

age                26
Nationality    Neymar
trophy             33
Name: neymar, dtype: object

In [599]:
df.loc["christiano ronaldo"]

age                 33
Nationality    Ronaldo
trophy              56
Name: christiano ronaldo, dtype: object

In [601]:
df.iloc[2:3]

       age Nationality trophy
neymar  26      Neymar     33

In [585]:
import numpy as np
x = np.array([5,6,7,8],ndmin =4, dtype=int)
print(x)

[[[[5 6 7 8]]]]

In [605]:
lists = {"Crops":["wheats","corn", "rice", "soya beans"],
         "total_numbers_of tons":[3,4.5,2,5],
         "Country":["Nigeria", "Ghana", "senegal","cameroun"]}
df = pd.DataFrame(lists)

In [607]:
df

        Crops  total_numbers_of tons   Country
0      wheats                    3.0   Nigeria
1        corn                    4.5     Ghana
2        rice                    2.0   senegal
3  soya beans                    5.0  cameroun

In [619]:
df.sort_values("Crops").head()

        Crops  total_numbers_of tons   Country
1        corn                    4.5     Ghana
2        rice                    2.0   senegal
3  soya beans                    5.0  cameroun
0      wheats                    3.0   Nigeria

In [627]:
df.sort_values("total_numbers_of tons").head()

        Crops  total_numbers_of tons   Country
2        rice                    2.0   senegal
0      wheats                    3.0   Nigeria
1        corn                    4.5     Ghana
3  soya beans                    5.0  cameroun

In [629]:
df.sort_values("Country").head()

        Crops  total_numbers_of tons   Country
1        corn                    4.5     Ghana
0      wheats                    3.0   Nigeria
3  soya beans                    5.0  cameroun
2        rice                    2.0   senegal

In [635]:
df.sort_values(["Crops", "Country"]).head()

        Crops  total_numbers_of tons   Country
1        corn                    4.5     Ghana
2        rice                    2.0   senegal
3  soya beans                    5.0  cameroun
0      wheats                    3.0   Nigeria

In [639]:
df.sort_values(["Crops", "total_numbers_of tons"]).head()

        Crops  total_numbers_of tons   Country
1        corn                    4.5     Ghana
2        rice                    2.0   senegal
3  soya beans                    5.0  cameroun
0      wheats                    3.0   Nigeria

In [641]:
df.sort_values(["Crops", "total_numbers_of tons", "Country"]).head()

        Crops  total_numbers_of tons   Country
1        corn                    4.5     Ghana
2        rice                    2.0   senegal
3  soya beans                    5.0  cameroun
0      wheats                    3.0   Nigeria

In [643]:
df.sort_values(["Crops", "total_numbers_of tons", "Country"]).head(2)

  Crops  total_numbers_of tons  Country
1  corn                    4.5    Ghana
2  rice                    2.0  senegal

In [645]:
df.sort_values(["Crops", "total_numbers_of tons", "Country"]).tail(2)

        Crops  total_numbers_of tons   Country
3  soya beans                    5.0  cameroun
0      wheats                    3.0   Nigeria

In [649]:
df.sort_values(["Crops", "total_numbers_of tons"], ascending=False).head()

        Crops  total_numbers_of tons   Country
0      wheats                    3.0   Nigeria
3  soya beans                    5.0  cameroun
2        rice                    2.0   senegal
1        corn                    4.5     Ghana

In [655]:
df["total_numbers_of tons"] > 4

0    False
1     True
2    False
3     True
Name: total_numbers_of tons, dtype: bool

In [657]:
df["total_numbers_of tons"] < 2

0    False
1    False
2    False
3    False
Name: total_numbers_of tons, dtype: bool

In [661]:
df["total_numbers_of tons"] < 4

0     True
1    False
2     True
3    False
Name: total_numbers_of tons, dtype: bool

In [669]:
df.drop("Crops", axis=1)

   total_numbers_of tons   Country
0                    3.0   Nigeria
1                    4.5     Ghana
2                    2.0   senegal
3                    5.0  cameroun

In [673]:
df.groupby("total_numbers_of tons").sum()

                            Crops   Country
total_numbers_of tons
2.0                          rice   senegal
3.0                        wheats   Nigeria
4.5                          corn     Ghana
5.0                    soya beans  cameroun

In [675]:
df.groupby("total_numbers_of tons").max()

                            Crops   Country
total_numbers_of tons
2.0                          rice   senegal
3.0                        wheats   Nigeria
4.5                          corn     Ghana
5.0                    soya beans  cameroun

In [681]:
df.groupby("total_numbers_of tons").min()

                            Crops   Country
total_numbers_of tons
2.0                          rice   senegal
3.0                        wheats   Nigeria
4.5                          corn     Ghana
5.0                    soya beans  cameroun

In [611]:
df.loc[0]

Crops                     wheats
total_numbers_of tons        3.0
Country                  Nigeria
Name: 0, dtype: object

In [613]:
df.loc[2]

Crops                       rice
total_numbers_of tons        2.0
Country                  senegal
Name: 2, dtype: object

In [615]:
df.iloc[1:3]

  Crops  total_numbers_of tons  Country
1  corn                    4.5    Ghana
2  rice                    2.0  senegal